# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
dist/

# Dependency directories
.bower_components/

# Testing
coverage/

# Environment variables
.env
.env.local
.env.*.local

# Editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Optional lock files
package-lock.json
yarn.lock

# Cache files
.cache/
*.cache/
*.temp/
